<section id="tag">
  <h4>Tags</h4>
  <p>Labels to insert anywhere! They come in 3 sizes — small, medium, large</p>
  <p>
    <span class="tag">One</span>
    <span class="tag">Two</span>
    <span class="tag">Three</span>
    <span class="tag is-small">Small</span>
    <span class="tag is-large">Large</span>
  </p>
  <pre><code class="html">
  &lt;p&gt;
    &lt;span class="tag"&gt;One&lt;/span&gt;
    &lt;span class="tag"&gt;Two&lt;/span&gt;
    &lt;span class="tag"&gt;Three&lt;/span&gt;
    &lt;span class="tag is-small"&gt;Small&lt;/span&gt;
    &lt;span class="tag is-large"&gt;Large&lt;/span&gt;
  &lt;/p&gt;
  </code></pre>
</section>