<div class="container">
    <div class="hero is-full-screen">
      <div class="logo is-center is-vertical-align">
          <br/>
        <h3>You step in the stream,<br/>
            but the water has moved on.<br/>
            This page is not here.</h3>
        <small>
            <em>---</em><br/>
          <em>You have 404'ed.</em>
        </small>
      </div>
    </div>
</div>
    