<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>allegretto - A fast &amp; lively CSS framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HEAP ANALYTICS -->
    <script type="text/javascript">
        window.heap = window.heap || [], heap.load = function (e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = document.createElement("script");
            r.type = "text/javascript", r.async = !0, r.src = "https://cdn.heapanalytics.com/js/heap-" + e + ".js";
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(r, a);
            for (var n = function (e) {
                    return function () {
                        heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify",
                    "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"
                ], o = 0; o < p.length; o++) heap[p[o]] = n(p[o])
        };
        heap.load("2668003571");
    </script>

    <script src="https://unpkg.com/feather-icons"></script>
    <!-- <link rel="stylesheet" href="https://unpkg.com/allegretto"> -->
    <link rel="stylesheet" href="./retto.min.css">
    <link rel="stylesheet" href="./doc-styles.css">


    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="./prettify.css">
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<body id="top">
    <%- yield %>


    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDomains", ["*.allegretto.herokuapp.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.virtuallycreative.ca/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '4']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//analytics.virtuallycreative.ca/piwik.php?idsite=4&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11177404-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-11177404-3');
    </script>
    <script>
        // init Feather Icons
        feather.replace()
    </script>
</body>

</html>