.card {
    padding: 1rem 2rem;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.card p:last-child {
  margin: 0;
}

.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card footer > .button {
  padding: 0.5rem 1.75rem;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .card footer > .button {
    padding: 0.75rem 1.25rem;
  }
}
